%div#member-index
  %h1 Profiles
  %ul
    -for person in @profiles
      %li
        .profile-thumb-image
          - unless person.avatar_file_name == nil
            = link_to(image_tag(person.avatar.url(:square_thumb), :alt => "Profile photo for %s" % person.name, :title => "Profile photo for %s" % person.name), person.profile) unless person.avatar.url.blank?
        .profile-description
          %h2= link_to(person.name, person.profile)
          %p
            = ("#{pluralize(person.comments_count, "Comment")}" if person.comments_count > 0) + ", " if person.comments_count > 0 and person.articles_count > 0
            = "#{pluralize(person.articles_count, "Articles")}" if person.articles_count > 0
        = clear
= render :partial => "side_column"

      
= render :partial => "pages/sidebar"